body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    width: 100%;

    .header_inner {
        width: 80%;
        margin: 0 auto;

        h2 {
            text-align: center;
        }
    }
}

.main {
    width: 100%;

    .main_inner {
        width: 80%;
        margin: 0 auto;

        .button_area {
            .nav {
                a {
                    text-decoration: none;
                    text-align: center;
                    display: block;
                    //justify-content: center;
                    //display: inline-block;
                    padding: 7px 23px;
                    font-size: 14px;
                    font-weight: bold;
                    //text-align: center;
                    //text-decoration: none;
                    color: #fff; /* 文字色 */
                    background-color: #28a745; /* 緑系で親しみやすい色 */
                    border-radius: 30px; /* 丸みをつける */
                    border: 2px solid transparent; /* 初期の枠線を透明に */
                    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* 影をつける */
                    cursor: pointer;
                    width: 17%;
                    margin: 0 auto;
                }
            }

        }

        .search_list {
            .container {
                p {
                    text-align: center;
                }

                .delete_task {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    dl {
                        dt {
                            color: #ef4444;
                        }
                    }
                }

                form {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }


}

@media screen and (max-width: 768px) {
    .header_inner {
        width: 100% !important;
    }

    .main {
        .main_inner {
            width: 100%;

            .search_list {
                .container {

                    .delete_task {
                        width: 100%;
                        display: block;
                        //align-items: center;
                        //justify-content: center;
                    }

                    form {
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .button_area {
                .nav {
                    a {
                        width: 35%;
                    }
                }
            }
        }
    }
}
