body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    width: 100%;

    .header_inner {
        max-width: 100%;

        .button_area {
            border-bottom: 2px solid #f0f0f0;
            height: 50px;
            position: fixed;
            width: 100%;
            background-color: #ffffff;

            .nav {
                display: flex;
                justify-content: left;
                align-items: center;
                width: 80%;
                margin: 0 auto;
                height: 100%;

                .allnemu_button {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    /* ボタンの共通スタイル */
                    .button {
                        display: flex;
                        align-items: center;
                        padding: 0 15px;
                        font-size: 14px;
                        text-align: center;
                        text-decoration: none;
                        color: #7a7a7a; /* 文字色 */
                        cursor: pointer;
                        height: 100%;
                    }

                    /* ホバー時のアニメーション */
                    .button:hover {
                        border-bottom: 3px solid #f8b7cd;
                    }
                }
            }
        }

        .tsk_tittle {
            h1 {
                text-align: center;
            }
        }
    }
}

main {
    width: 100%;
    padding-top: 50px; /* ヘッダーの高さと合わせる */

    .main_edit_inner {
        width: 80%;
        margin: 0 auto;

        .tsk_tittle {
            h2 {
                color: #333333;
            }
        }

        form {
            width: 100%;

            .edit_table {
                margin-top: 20px;
                width: 100%;
                .task {
                    //width: 100%; /* テーブルの幅を画面いっぱいに */
                    border-collapse: collapse; /* セルの境界線を統一 */
                    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* 影をつける */
                    width: 100%;
                    table-layout: fixed; /* 列幅を自動で縮める */
                    word-break: break-word;

                    th, td {
                        padding: 10px;
                        border: 1px solid #8c9cb0;
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: #333333;
                        }
                    }

                    th {
                        background-color: #EEEEEE;
                    }

                    td {
                        word-break: break-word;     /* 単語の途中でも折り返す */
                        overflow-wrap: break-word;  /* 長い英単語も折り返す */
                        white-space: normal;        /* 折り返し有効 */

                        input,select,button {
                            max-width: 100%;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header_inner {
        width: 100% !important;

        .button_area {
            margin: 0 !important;

            .nav {
                width: 100% !important;
                margin: 0 !important;
                justify-content: right !important;
            }
        }
    }

    main {
        .main_edit_inner {
            width: 100%;

            .tsk_tittle {
                text-align: center;
            }

            form {
                .edit_table {
                    .task {
                        box-shadow: none;

                        th {
                            display: none; /* ヘッダーは非表示 */
                        }

                        tr {
                            display: block;
                        }

                        td {
                            display: flex;
                            justify-content: space-between;
                            padding: 8px;
                            //border: none;
                            border: 1px solid #eee;
                            position: relative;
                        }

                        td::before {
                            content: attr(data-label); /* ヘッダー名を表示 */
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
