html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: right;
}

a {
    color: black;
}


.login {
    body {
        height: 100%;
    }

    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        text-align: right;
    }

    a {
        color: black;
    }

}
